.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  overflow: auto;
}

.content {
  width: 800px;
  max-height: 600px;
  padding-top: 10px;
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto;

  @media (max-width: 425px) {
    width: 80%;
    height: 90%;
  }

  @media (max-width: 768px) {
    width: 90%;
  }
}

.content::-webkit-scrollbar {
  width: 10px;
  height: 3px; /* A altura só é vista quando a rolagem é horizontal */
  border-radius: 8%;
}

.content::-webkit-scrollbar-track {
  background: transparent;
  padding: 4px;
  background-color: #dedede;
}

.content::-webkit-scrollbar-thumb {
  background-color: #6807f9;
}

.content__close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.content__title {
  margin-top: 150px;

  @media (max-width: 425px) {
    margin-top: 300px;
  }
}

.content__subtitle {
  color: #6807f9;
}

.content__closeIcon {
  cursor: pointer;
}

.game {
  width: 700px;
  height: 400px;
  border-radius: 2%;
  background-color: black;
  animation: moveDown 1s forwards;

  @keyframes moveDown {
    to {
      transform: translateY(40px);
    }
  }

  @media (max-width: 425px) {
    width: 100%;
  }
}

.game__img {
  max-width: 300px;

  @media (max-width: 425px) {
    max-width: 100%;
  }
}

.game__title {
  color: white;
  margin-bottom: 10px;
  font-size: 24px;
}

.content__form {
  width: 90%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__form-title {
  margin: 0;
  padding: 20px;
}

.content__inputs {
  display: grid;
  column-gap: 40px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 425px) {
    grid-template-columns: 1fr;
  }
}

.content__input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content__input input {
  width: 300px;
  height: 25px;

  @media (max-width: 768px) {
    width: 270px;
    height: 25px;
  }

  @media (max-width: 425px) {
    width: 300px;
    height: 25px;
  }

  @media (max-width: 375px) {
    width: 230px;
    height: 25px;
  }
}

.content__form-button-div {
  width: 100%;
  padding: 40px 0;

  @media (max-width: 425px) {
    display: flex;
    justify-content: center;
  }
}

.content__form-button {
  width: 300px;

  @media (max-width: 425px) {
    width: 250px;
  }
}

.video__iframe {
  width: 560px;

  @media (max-width: 425px) {
    width: 250px;
  }
}
